.top-img {
	margin-bottom: 0px;
	background-image: url('img/_MG_2011.JPG');
}

.navbar-default {
	background: #fff;

  z-index: 150;
 
  margin-bottom: 0px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

#featured {
    margin-top: 65px;
}

#canvas {
    width: 800px;
}